<h2>Projects created by <%= @email %></h2>
<% if current_user == @user %>
  <a href="/projects/new">New</a>
<% end %>

<ul>
  <% @projects.each do |project| %>
    <li><a href="/projects/<%= project.name %>"><%= project.name %></a></li>
  <% end %>
</ul>

<h2><%= @email %> Likes</h2>

<ul>
  <% @likes.each do |like| %>
    <li><a href="/projects/<%= like.project.name %>"><%= like.project.name %></a></li>
  <% end %>
</ul>
